[submodule "https:/github.com/yacineatmani/githubactionpushdocker/push-docker-image-dockerhub-github-action.git"]
	path = https:/github.com/yacineatmani/githubactionpushdocker/push-docker-image-dockerhub-github-action.git
	url = https://github.com/yacineatmani/githubactionpushdocker.git
